<a href="https://colab.research.google.com/github/Dennis-Farias/aulaLabBigDataEmAgricultura/blob/main/aula14_08_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Limpeza e preparação de dados em Python

## Tratando dados ausentes

In [ ]:
import pandas as pd
import numpy as np

str = pd.Series(['Mauricio', 'FATEC', np.nan, 'Professor'])
str

In [ ]:
str[0] = None
str.isnull()

In [ ]:
from numpy import nan as NA
notas = pd.Series([7.5, NA, 3.5, NA, 9.3])
notas.dropna()

In [ ]:
dados = pd.DataFrame([['Ana', 7.5, 8.5], ['Luis', NA, NA], [NA, NA, NA], ['Maria', 6.5, NA]])
dados

In [ ]:
dados_limpos = dados.dropna()
dados_limpos

In [ ]:
dados.dropna(how='all')

In [ ]:
dados[4] = NA
dados

In [ ]:
dados.dropna(axis=1, how='all')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 3))
df

In [ ]:
df.iloc[:4, 1] = NA
df.iloc[:2, 2] = NA
df

In [ ]:
df.dropna(thresh=2)

In [ ]:
df.fillna(0)

### Exercício 1
Crie uma Series com 10 notas reais... Coloque em algumas delas NA (dados ausentes)... Mostre a Series... Após isso, usando o método fillnam substitua os dados ausentes pela média das notas.
Tente usar para o cálculo da média, apenas as notas válidas.

In [ ]:
notas = pd.Series([7.5, NA, 3.5, NA, 9.3, 5.2, 10, NA, 2.7, 4.7])
notas

In [ ]:
notas_limpas = notas.dropna()
notas_limpas

In [ ]:
media_notas = notas_limpas.mean()
media_notas = "{:.1f}".format(media_notas)
media_notas

In [ ]:
notas.fillna(media_notas)

## Detectando valores discrepantes

In [ ]:
numeros = pd.DataFrame(np.random.randn(1000, 4))
numeros.describe()

In [ ]:
col = numeros[2]
col[np.abs(col) > 3]

In [ ]:
numeros[(np.abs(numeros) > 3).any(axis=1)]

In [ ]:
numeros[np.abs(numeros) > 3] = np.sign(numeros) * 3
numeros.describe()